.calculator {
    padding: 15px;
    width: 300px;
    background-color: goldenrod;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calc-input {
    cursor: default;
    text-align: center;
    display: block;
    padding: 8px;
    margin: 1rem auto 2rem auto;
    outline: none;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    height: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}